* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-variant: lining-nums;
}

img {
    height: auto;
    max-width: 100%;
}



html, body {
    height: 100%;
    overflow-x:hidden;
}

.container {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}


.common-link {
    --link-color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--link-color);
    max-width: 100%;
    
}


.common-button {
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: 700;
    background-color: #005BAA;
    border-color: #005BAA;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
}

#welcome {
    height: 100vh;
    background: url("intro.jpg") no-repeat center / cover;
    position: relative;
    padding-bottom: 130px;
    
}



#welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section-title .welcome-title{
    font-weight: 700;
}

.common-button .welcome-button{
    font-weight: 700;
}

.welcome-title {

    max-width: 630px;
    color: white;
    width: 100%;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 1%;
    margin-bottom: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

.welcome-button {
    max-width: 293px;
    padding: 20px 0;
}

.field {
    height: 130px;
    object-fit: cover;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 28px;
    left: 0;
}

.field img {
    width: 100%;
}

.plain {
    position: absolute;
    top: 31%;
    right: 26%;
    transform: translate(50%, -30%);
    background: url("plain.svg") no-repeat center / cover;

    width: 470px;
    height: 255px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 30px 0;
}

#welcome header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.submenu {
    display: none;
    cursor: initial;
    position: absolute;
    left: 0;
    background-color: white;
    bottom: -300px;
    width: 310px;
    flex-direction: column;
    list-style-type: none;
    padding: 30px;
    gap: 15px 0;
    border-radius: 5px;
}

.submenu-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.submenu-link {
    width: 100%;
    --link-color: black;
}

.submenu.active {
    display: flex;
}

.menu {
    display: flex;
    max-width: 730px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu:not(.menu-vertical) > *:last-child {
    display: none;

}

.menu.menu-vertical {
    flex-direction: column;
    max-width: 250px;
}

.menu-link {
    background-color: transparent;
    border: none;
}

.open-btn {
    font-size: 36px;
    cursor: pointer;
}

.menu-control {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #FFFFFF;
   
}

.services_container{
    width: 100%;
    height: 838px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 120px;
}

.services_block1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}


.services_block2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services_image1{
    width: 940px;
    height: 379px;
    background: linear-gradient(360deg, #000000 -20.71%, rgba(0, 0, 0, 0) 127.04%) ;
    filter: drop-shadow(0px 4px 30px rgba(43, 43, 43, 0.3));
    border-radius: 0px 15px 15px 0px;
}

.services_image2{
    width: 940px;
    height: 379px;
    background: linear-gradient(0deg, #2B2B2B -7.92%, rgba(43, 43, 43, 0) 109.37%);
    border-radius: 15px 0px 0px 15px;
}

.services_image3{
    width: 940px;
    height: 379px;
    background: linear-gradient(0deg, #2B2B2B -12.14%, rgba(43, 43, 43, 0) 112.14%);
    border-radius: 0px 15px 15px 0px;
}

.services_image4{
    width: 940px;
    height: 379px;
    background: linear-gradient(0deg, #2B2B2B -12.93%, rgba(43, 43, 43, 0) 110.95%);
    border-radius: 15px 0px 0px 15px;
}

.services_head1{
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    top: 30%;
    right: 32%;
}

.services_unblock1{
position: relative;
}

.services_unblock2{
position: relative;
}

.services_text1{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    top: 46%;
    right: 22%;
}

.services_button{
    position: absolute;
    width: 207px;
    height: 48px;
    background: #005BAA;
    border-radius: 10px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    right: 39%;
    top: 62%;
    
}

.services_head2{
    position: absolute;
    text-align: center;
    top: 42%;
    right: 35%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}


.services_unblock3{
    position: relative;
}

.services_unblock4{
    position: relative;
}

.services_head3{
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    top: 47%;
    right: 31%;
    
}

.services_head4{
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    top: 42%;
    right: 34%;
    
}

.services_shift{
    display: block;
}

.services_unshift{
    display: none;
}

#map {

    position: relative;

}

#map .container{
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0 55px;
}

.map-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
}

.map-wrapper iframe{
    width: 100%;
    height: 100%;
}

.map-info {

    padding: 40px 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(41, 41, 41, 0.15);
    border-radius: 15px;
    max-width: 385px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    width: 100%;
}

.map-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    color: #2B2B2B;
}

.list-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 50px;
    font-weight: 500;
}


.list-item-text {
    --link-color: #2b2b2b;

    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}

.list-item i, .list-item img {
    width: 25px;
    height: 25px;
    font-weight: 500;
    position: absolute;
    font-size: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.map-button {
    margin-top: 40px;
    line-height: 28px;
    padding: 10px 0;
}

footer {
    padding: 45px 0 65px;
    background-color: #0C4EA0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content .container {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-menu {
    gap: 40px 0;
}

.menu-item {
    width: 100%;
}

.footer-info {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-group {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    justify-content: flex-end;
}

.footer-phone {
    text-align: right;
    font-weight: 600;
}

.footer-email{
    font-weight: 600;
}

.socials-group {
    display: flex;
    flex-direction: row;
    max-width: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.footer-social {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    display: flex;
}

.footer-copyright {
    padding-top: 30px;
    width: 100%;
}

.footer-copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-title {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.copyright-banners {
    display: flex;
    justify-content: space-between;
    max-width: 212px;
    width: 100%;
    align-items: center;
}

#burger {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    background: rgba(255, 255,255,0.3);
    justify-content: flex-end;
    width: 100%;
}

#burger.visible {
    z-index: 3;
}

/*#services{
    position: relative;
    max-width: 100%;
    height: 1028px;
}

.services-block1{
    position: absolute;
    top: 100px;
    left: 0;
    background: url("services-block1.png") no-repeat center / cover;

    width: 940px;
    height: 379px;
}

.services-block2{
    position: absolute;
    top: 100px;
    right: 0;
    background: url("services-block2.png") no-repeat center / cover;

    width: 940px;
    height: 379px;
}

.services-block3{
    position: absolute;
    top: 519px;
    left: 0;
    background: url("services-block3.png") no-repeat center / cover;

    width: 940px;
    height: 379px;
}

.services-block4{
    position: absolute;
    top: 519px;
    right: 0;
    background: url("services-block4.png") no-repeat center / cover;

    width: 940px;
    height: 379px;
}

.services-block1 .services-title1{

    width: 400px;
    height: 56px;
    padding-left: 171px;
    padding-top: 122px;

    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.services-block2 .services-title2{
    width: 400px;
    height: 56px;
    padding-right: 321px;
    padding-top: 162px;

    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}*/

#news {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#news header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1279px;
}        

.news{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.news_container {
  max-width: 1279px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  padding-bottom: 130px;
   
}

.news_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;

   
}

.news_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.news_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.news_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.news_h{
    padding-top: 50px;
    padding-left: 7px;

}

.news_cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 40px;
  row-gap: 40px;
}

.news_card{
  width: 619px;
  height: 607px;
  background-color: #FFFFFF;  
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.news_tile{
    width: 620px;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}

.news_card-head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    padding: 30px 0px 15px 30px;

}

.news_card-content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #2B2B2B;
    padding-left: 30px;
}

.news_card-footer{
    margin-top: 63px;
    display: flex;
    justify-content:space-between;
    max-width: 559px;
    padding-left: 30px;
}

.news_card--footer{
    margin-top: 40px;
}

.news_card---footer{
    margin-top: 38px;
}

.news_card-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #005BAA;
    border-radius: 10px;
    width: 207px;
    height: 48px;
    align-items:left;
}

.news_card-data{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 32px;

}

.news_slider{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.news_slider-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2B2B2B;
    margin-right: 30px;
 
}

.news_slider--text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #2B2B2B;
}

.news_slider-ellipse{
    position:relative;
    width: 40px;
    height: 40px;
}

.news_slider-ellipse1{
    margin-right: 20px;
}

.news_slider-icon1{
    position: absolute;
    margin: 13px 15px 20px 15px;
    width: 9px;
    height: 15px;
}

.news_slider-icon2{
    position: absolute;
    margin: 13px 15px 20px 15px;
    width: 9px;
    height: 15px;
}


#history {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#history header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.history{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.history_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  padding-bottom: 130px;
   
}

.history_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.history_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.history_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.history_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.history_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.history_content{
    max-width: 1351px;
    max-height: 5507px;
}

.history_block1{
    width: 1351px;
    height: 528px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block1--photo{
    display: flex;
    flex-direction: column;
    

}

.history_block1-photo{
    max-width: 620px;
    height: 305px;
    border-radius: 15px;
    margin-right: 40px;
    margin-bottom: 41px;
    margin-left:36px;
}

.history_block1-photo1{
    width: 290px;
    height: 182px;
    border-radius: 15px;
    margin-right: 40px;
    margin-left: 36px;
}

.history_block1-photo2{
    width: 290px;
    height: 182px;
    border-radius: 15px;
}

.history_block1--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    margin-right: 35px;
}

.history_block1-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.history_block1-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
  
}

.history_slide1{
   max-width: 1351px;
   display: flex;
   justify-content: center;
   max-height: 350px;
   margin-bottom: 40px;
   
    
}

.history_slide1-photo1{
    width: 290px;
    height: 350px;
    border-radius: 0px 15px 15px 0px;
    margin-right: 40px;

}

.history_slide1-photo2{
    width: 620px;
    height: 350px;
    border-radius: 15px;
    margin-right: 40px;
}

.history_slide1-photo3{
    width: 290px;
    height: 350px;
    border-radius: 15px 0px 0px 15px;
}

.history_slide1-line1{
    margin-right: 17px;
    align-self: center;
    height: 50%;
    
}

.history_slide1-line2{
    margin-left: 17px;
    align-self: center;
    height: 50%;
}

.history_block2{
    width: 1351px;
    height: 990px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block2--text{
    display: flex;
    flex-direction: column;
    width:620px ;
    height: 990px;
    margin-left: 36px;
    margin-right: 40px;
}

.history_block2-text1{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block2-text2{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block2-text3{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    width: 620px;
}

.history_block2-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block2--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 990px;
    margin-right: 37px;
}

.history_block2-photo{
    width: 620px;
    height: 364px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.history_block2-photo1{
    width: 290px;
    height: 182px;
    border-radius: 15px;
    margin-right: 40px;
}

.history_block2-photo2{
    width: 290px;
    height: 182px;
    border-radius: 15px;
}

.history_block2-photo3{
    width: 620px;
    height: 364px;
    border-radius: 15px;
}

.history_lblock1{
    display: flex;
    flex-direction: row;
    width: 620px;
    height: 182px;
    margin-bottom: 40px;
}

.history_block3{
    width: 1351px;
    height: 828px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block3--text{
    display: flex;
    flex-direction: column;
    width:620px ;
    height: 828px;
    margin-left: 38px;
    margin-right: 37px;
}

.history_block3-text1{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block3-text2{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block3-text3{
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    width: 620px;
}

.history_block3-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.history_block3--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 828px;
    margin-left: 36px;
}

.history_block3-photo{
    width: 620px;
    height: 283px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.history_block3-photo1{
    width: 290px;
    height: 182px;
    border-radius: 15px;
    margin-right: 40px;
}

.history_block3-photo2{
    width: 290px;
    height: 182px;
    border-radius: 15px;
}

.history_block3-photo3{
    width: 620px;
    height: 283px;
    border-radius: 15px;
}

.history_lblock2{
    display: flex;
    flex-direction: row;
    width: 620px;
    height: 182px;
    margin-bottom: 40px;
}

.history_block4{
    width: 1351px;
    height: 666px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block4--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 313px;
    margin-right: 35px;

}

.history_block4-photo{
    width: 620px;
    height: 313px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.history_block4-photo1{
    width: 620px;
    height: 313px;
    border-radius: 15px;
}


.history_block4--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    height: 666px;
    margin-left: 36px;
}

.history_block4-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.history_block4-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.history_block4-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.history_block4-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
   
}

.history_block5{
    width: 1351px;
    height: 501px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block5--photo{
    display: flex;
    flex-direction: column;
    margin-left:36px;

}

.history_block5-photo{
    width: 620px;
    height: 279px;
    border-radius: 15px;
    margin-right: 40px;
    margin-bottom: 41px;
    
}

.history_block5-photo1{
    width: 290px;
    height: 182px;
    border-radius: 15px;
    margin-right: 40px;
  
}

.history_block5-photo2{
    width: 290px;
    height: 182px;
    border-radius: 15px;
}

.history_block5--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    margin-right: 35px;
}

.history_block5-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.history_block5-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
  
}

.history_slide2{
    max-width: 1351px;
    display: flex;
    justify-content: center;
    max-height: 350px;
    margin-bottom: 40px;
    
     
 }
 
 .history_slide2-photo1{
     width: 290px;
     height: 350px;
     border-radius: 0px 15px 15px 0px;
     margin-right: 40px;
 
 }
 
 .history_slide2-photo2{
     width: 618px;
     height: 350px;
     border-radius: 15px;
     margin-right: 42px;
 }
 
 .history_slide2-photo3{
     width: 290px;
     height: 350px;
     border-radius: 15px 0px 0px 15px;
 }
 
 .history_slide2-line1{
     margin-right: 17px;
     align-self: center;
     height: 50%;
     
 }
 
 .history_slide2-line2{
     margin-left: 17px;
     align-self: center;
     height: 50%;
 }

 .history_block6{
    width: 1351px;
    height: 624px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.history_block6--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 624px;
    margin-right: 35px;

}

.history_block6-photo{
    width: 620px;
    height: 305px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.history_block6-photo1{
    width: 620px;
    height: 279px;
    border-radius: 15px;
}


.history_block6--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    height: 624px;
    margin-left: 36px;
}

.history_block6-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.history_block6-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.history_block6-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.history_slide3{
    max-width: 1351px;
    display: flex;
    justify-content: center;
    max-height: 350px;
    margin-bottom: 130px;
    
     
 }
 
 .history_slide3-photo1{
     width: 290px;
     height: 350px;
     border-radius: 0px 15px 15px 0px;
     margin-right: 40px;
 
 }
 
 .history_slide3-photo2{
     width: 620px;
     height: 350px;
     border-radius: 15px;
     margin-right: 40px;
 }
 
 .history_slide3-photo3{
     width: 290px;
     height: 350px;
     border-radius: 15px 0px 0px 15px;
 }
 
 .history_slide3-line1{
     margin-right: 17px;
     align-self: center;
     height: 50%;
     
 }
 
 .history_slide3-line2{
     margin-left: 17px;
     align-self: center;
     height: 50%;
 }

 #OAO {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#OAO header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.OAO{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.OAO_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;

  margin-bottom: 130px;
 
   
}

.OAO_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.OAO_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.OAO_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.OAO_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.OAO_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.OAO_content{
    max-width: 1351px;
    max-height: 1774px;
}

.OAO_block1{
    width: 1351px;
    height: 762px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.OAO_block1--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 762px;
    margin-right: 35px;
}

.OAO_block1-photo{
    width: 620px;
    height: 329px;
    border-radius: 15px;
  
}

.OAO_block1-photo1{
    width: 620px;
    height: 393px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.OAO_block1-photo2{
    width: 619px;
    height: 329px;
    border-radius: 15px;
}


.OAO_block1--text{
    display: flex;
    flex-direction:column;
    width: 625px;
    height: 762px;
    margin-left: 35px;
    margin-right: 40px;
    margin-bottom: 40px;
    
}

.OAO_block1-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.OAO_block1-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 37px;
}

.OAO_block2{
    width: 1351px;
    height: 972px;
    display: flex;
    justify-content: space-between;
}

.OAO_block2--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 972px;
    margin-left: 35px;
    
}

.OAO_block2-photo1{
    width: 620px;
    height: 305px;
    border-radius: 15px;
    margin-bottom: 40px;
  
}

.OAO_block2-photo2{
    width: 620px;
    height: 271px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.OAO_block2-photo3{
    width: 620px;
    height: 316px;
    border-radius: 15px;
}

.OAO_block2-photo4{
    width: 620px;
    height: 316px;
    border-radius: 15px;
}


.OAO_block2--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    height: 972px;
    margin-bottom: 40px;
    margin-left: 40x;
    margin-right: 35px;
}

.OAO_block2-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.OAO_block2-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 34px;
}

.OAO_block2-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(43, 43, 43, 0.5);
    margin-bottom: 37px;
}

#licenses {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#licenses header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.licenses{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.licenses_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  margin-bottom: 130px;
 
   
}

.licenses_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.licenses_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.licenses_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.licenses_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.licenses_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.licenses_content{
    max-width: 1351px;
    max-height: 983px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.licenses_texts{
    width: 840px;
    height: 489px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 35px;
    margin-bottom: 70px;
}

.licenses_text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-bottom: 18px;
}

.licenses_text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-bottom: 18px;
}

.licenses_text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
}

.licenses_slide{
    max-width: 1351px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 424px;
    
    
     
 }
 
 .licenses_slide-photo1{
    width: 205px;
    height: 293px;
    opacity: 0.3;
    margin-right: 26px;
    margin-top: 63px;
    
 
 }
 
 .licenses_slide-photo2{
    width: 233px;
    height: 334px;
    opacity: 0.3;
    margin-right: 27px;
    margin-top: 42px;
 }
 
 .licenses_slide-photo3{
    width: 298px;
    height: 424px;
    margin-right: 26px;
 }

 .licenses_slide-photo4{
    width: 233px;
    height: 334px;
    opacity: 0.3;
    margin-right: 27px;
    margin-top: 42px;
 }

 .licenses_slide-photo5{
    width: 205px;
    height: 293px;
    opacity: 0.3;
    margin-top: 63px;
    margin-right: 17px;
 }
 
 
 .licenses_slide-line1{
     margin-right: 17px;
     align-self: center;
     height: 50%;
     
 }
 
 .licenses_slide-line2{
     margin-left: 17px;
     align-self: center;
     height: 50%;
 }

 #corruption {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#corruption header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.corruption{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.corruption_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  margin-bottom: 120px;
 
   
}

.corruption_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.corruption_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.corruption_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.corruption_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.corruption_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.corruption_content{
    max-width: 1351px;
    max-height: 283px;
    margin-left: 35px;
}

.corruption_head-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.corruption_point{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-left: 20px;
    
}

.corruption_point{
    margin-bottom: 10px;
}

.corruption_point-blue{
    color:rgb(17, 146, 185)
}

#disclosure {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#disclosure header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.disclosure{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.disclosure_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  margin-bottom: 130px;
 
   
}

.disclosure_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.disclosure_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.disclosure_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.disclosure_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.disclosure_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.disclosure_content{
    max-width: 1351px;
    max-height: 481px;
    margin-left: 35px;
}

.disclosure_head-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.disclosure_point{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-left: 20px;
    
}

.disclosure_point{
    margin-bottom: 10px;
}

.disclosure_point:last-of-type{
    margin-bottom: 40px;
}

.disclosure_point-blue{
    color:rgb(17, 146, 185)
}

.disclosure_head-list2{
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 30px;
}

.disclosure_years1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    width: 90px;
    
}

.disclosure_years2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #C4C4C4;
    width: 90px;

}

.disclosure_year1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    padding-left: 24px;

}

.disclosure_year2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #C4C4C4;
    padding-right: 24px;
    padding-left: 24px;
}

.disclosure_line1{
    border: 3px solid #146FBE;
    background-color: #146FBE;
}

.disclosure_line2{
    border: 1px solid #C4C4C4;
    margin-top: 1.5px;
    background-color: #C4C4C4;
}

.disclosure_point2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    margin-left: 20px;
    
}

.disclosure_point2{
    margin-bottom: 10px;
}

#press {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#press header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.press{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.press_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;

  margin-bottom: 100px;
 
   
}

.press_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.press_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.press_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.press_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.press_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.press_string {
    width: 840px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E6E7E8;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
  }

.press_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #2B2B2B;

}

  .press_file {
    display: flex;
    align-items: center;
  }



.press_icon1{
    width: 22px;
    height: 27px;


}

.press_icon2{
    width: 21px;
    height: 27px;
    margin-left: 18px;
}

.press_mini-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #C4C4C4;
    margin-left: 10px;
   
}

.press--text1{
    margin-right: 58px;
}

.press--text2{
    margin-right: 44px;
}

.press--text3{
    margin-right: 67px;
}

.press--text4{
    margin-right: 67px;
}

.press--text5{
    margin-right: 67px;
}
 .press--text6{
    margin-right: 72px;
 }

 .press--text7{
    margin-right: 72px;
 }

 .press--text8{
    margin-right: 72px;
 }

 .press--text9{
    margin-right: 85px;
 }

 .press--text10{
    margin-right: 85px;
 }

 .press--text11{
    margin-right: 85px;
 }

 #repair {
    height: 130px;
    background: url("sky.png") no-repeat center / cover;
    position: relative;
    padding-bottom: 30px;
    
}

#repair header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}        

.repair{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #FFFFFF;
}

.repair_container {
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  margin-bottom: 130px;
   
}

.repair_tabs{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-left: 30px;

   
}

.repair_shape{
    width: 7px;
    height: 11px;
    padding-top: 5px;
    
}

.repair_tab:not(:last-child){
    padding-right: 8px;
    color: #C4C4C4;
    
}

.repair_h{
    margin-left: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.repair_tab{
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.repair_content{
    width: 1351px;
    height: 3432px;
}

.repair_block1{
    width: 1351px;
    height: 597px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.repair_block1--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 597px;
    margin-right: 35px;

}

.repair_block1-photo{
    width: 620px;
    height: 281px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.repair_block1-photo1{
    width: 620px;
    height: 276px;
    border-radius: 15px;
}


.repair_block1--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    height: 597px;
    margin-left: 36px;
}

.repair_block1-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.repair_block1-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.repair_block1-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}


.repair_block2{
    width: 1351px;
    height: 693px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.repair_block2--photo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 597px;
    margin-left: 35px;
    margin-right: 40px;

}

.repair_block2-photo{
    width: 620px;
    height: 326px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.repair_block2-photo1{
    width: 620px;
    height: 327px;
    border-radius: 15px;
}


.repair_block2--text{
    display: flex;
    flex-direction:column;
    width: 620px;
    height: 693px;
    margin-right: 36px;
}

.repair_block2-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
    
}

.repair_block2-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.repair_block2-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.repair_block2-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    display: flex;
    flex-wrap: nowrap;
   
}

.repair_slide{
    max-width: 1351px;
    display: flex;
    justify-content: center;
    max-height: 350px;
    margin-bottom: 80px;
    
     
 }
 
 .repair_slide-photo1{
     width: 290px;
     height: 350px;
     border-radius: 0px 15px 15px 0px;
     margin-right: 40px;
 
 }
 
 .repair_slide-photo2{
     width: 620px;
     height: 350px;
     border-radius: 15px;
     margin-right: 40px;
 }
 
 .repair_slide-photo3{
     width: 290px;
     height: 350px;
     border-radius: 15px 0px 0px 15px;
 }
 
 .repair_slide-line1{
     margin-right: 17px;
     align-self: center;
     height: 50%;
     
 }
 
 .repair_slide-line2{
     margin-left: 17px;
     align-self: center;
     height: 50%;
 }

 .repair_workshops {
    width: 100%;
    max-width: 785px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-left: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #C4C4C4;
    margin-bottom: 46px;
    }
    
    .repair_workshop1 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop1:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop2 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop2:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop3 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop3:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop4 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop4:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop5 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop5:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop6 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop6:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop7 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop7:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }
    
    .repair_workshop8 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90px;
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 1px solid #E6E7E8;
    }
    
    .repair_workshop8:hover {
    font-weight: bold;
    color: #2B2B2B;
    border-bottom: 2px solid #146FBE;
    }

 .repair_painting{
    margin-left: 35px;
    margin-bottom: 44px;
 }

 .repair_painting-head{
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #2B2B2B;

 }

 .repair_painting-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B2B2B;
    
 }

 .repair_photo-blocks1{
    width: 1351px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 35px;
 }

 .repair_photo-block1{
    margin-right: 40px;
 }

 .repair_photo-text1{
    position: absolute;
    padding: 340px 193px 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;


 }

 .repair_photo-image1{
    width: 620px;
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 27.63%);
    border-radius: 15px;
 }

 .repair_photo-text2{
    position: absolute;
    padding: 340px 398px 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

 }

 .repair_photo-image2{
    width: 620px;
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 27.63%);
    border-radius: 15px;
 }

 .repair_photo-blocks2{
    width: 1351px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-bottom: 40px;
 }

.repair_photo-block3{
    margin-right: 40px;
}

 .repair_photo-text3{
    position: absolute;
    padding: 340px 427px 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

 }

 .repair_photo-image3{
    width: 620px;
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 27%);
    border-radius: 15px;
 }

 .repair_photo-text4{
    position: absolute;
    padding: 340px 313px 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

 }

 .repair_photo-image4{
    width: 620px;
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 29.88%);
    border-radius: 15px;
 }

 .repair_photo-block5{
    width: 620px;
    height: 400px;
    margin-left: 35px;
 }

 .repair_photo-text5{
    position: absolute;
    padding: 340px 419px 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
 }

 .repair_photo-image5{
    width: 620px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30.12%);
    border-radius: 15px;
 }